<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <style>
    table,th,td {
      width: 100%;
      margin-bottom: 1rem;
      background-color: transparent;
      border-collapse: collapse;
      font-family: 'Lato', sans-serif;
      text-align: center;
      border: 1px solid #e2e8f0;
    }
    table{
      height: 500px;
    }
    th,td{
      text-align: left;
      width: 20%;
      padding: 10px 20px 12px 15px;
    }
    th{
      text-align: center;
    }
    .center{
      text-align: center;
    }
    tr:nth-child(even) {
      background-color: #e5e5e5;
    }
    .heading{
      font-size: 30px;
      font-weight: 800;
      font-family: 'Lato', sans-serif;
      color: #000000;
      margin-bottom: 10px;
      text-align: center;
    }
  </style>
  <body onload="number_pages">
    <div id="header"></div>
    <div id="content"><%= yield %></div>
  </body>
</html>
